@import "tailwindcss";
@plugin "daisyui";

:root {
    --color-primary: #E3350D;
    --color-secondary: #FFCC00;
    --color-accent: #0075BE;
    --color-neutral: #2B2B2B;
    --color-base-100: #F7F7F7;
    --color-base-200: #E2E2E2;
    --color-base-300: #C7C7C7;
    --color-base-content: #1A1A1A;
}

@theme {
    
}


body {
    background-image: url("/src/images/poke-bg.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-gradient {
    position: absolute;
    z-index: -1;
    animation: pulse 3s infinite ease-in-out;
    background: radial-gradient(circle at center,rgba(227, 53, 13, 1) ,rgba(0, 117, 190, 0.5) 85%);
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.3);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
  }



@utility flex-center {
    @apply flex justify-center items-center;
}