@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import "tailwindcss";
@plugin "daisyui";



:root {
  --color-primary: #E3350D;
  --color-secondary: #FFCC00;
  --color-accent: #0075BE;
  --color-neutral: #2B2B2B;
  --color-base-100: #F7F7F7;
  --color-base-200: #E2E2E2;
  --color-base-300: #C7C7C7;
  --color-base-content: #1A1A1A;
}

@layer base {
  html {
    @apply text-base-100;
  }

  body {
    @apply bg-linear-to-b from-blue-200 to-red-150;
  }

}

@theme {
  --font-pokemon: 'Pokemon Solid', sans-serif;
}



.bg-gradient {
  background-position: center;
  position: absolute;
  z-index: -1;
  animation: pulse 3s infinite ease-in-out;
  background: radial-gradient(circle at center, rgba(227, 53, 13, 1), rgba(0, 117, 190, 0.5) 85%),
    #e3340d3f;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}


@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .hover-scale {
    @apply hover:scale-110 hover:btn-secondary hover:text-neutral transition-all duration-300 ;
  }
}


@layer components {

  .btn {
    @apply text-base-100 font-pokemon font-[100];

  }
}